[2012-11-21 14:24] ulisses-almeida-mowa opened #1 "How I check if apns push is really working?"
I don't know how to get a detailed error message when a push error happens.

[2012-11-24 00:54] NicosKaralis commented on #1
What kind of error are you looking for?
The APNS doesn't return any error, it just accepts your params, valid or not.
Do you have any ideas for validation?

[2013-02-12 22:40] eddanger opened #3 "Sending to multiple apps"
I need the ability to send to different apps/devices from a single Rails application.

The certificate will be different for each push and the current Module doesn't make much sense for the way I do it.

Anyway any future plans for something like this?

[code]

This is so we could use an object that is specific to a certificate/passphrase rather than a global module.

[2013-02-18 14:08] lloydmeta commented on #3
Maybe .dup or .clone the module (APNS and GCM)? The notification objects themselves have no say in the connection anyway.

[2013-02-18 15:41] NicosKaralis commented on #3
this is something i definitely want to implement.

I'm a little busy at the moment but as soon as i got time i will look into it.

[2013-03-10 09:51] khelll opened #5 "Support Newsstand Notification"
The attribute 'content-available' should be available:

http://developer.apple.com/library/ios/#technotes/tn2280/_index.html

[2013-05-28 21:43] dgaeta opened #7 "should the configuration be placed as a file in the initializers file?"
This is not an issue just a question:

should the configuration be placed as a file in the initializers file or included in the files that will be sending the push?

[2013-05-29 12:08] NicosKaralis commented on #7
Yes, the config needs to be set only once, an initializer is the best place to put the config

[2013-05-31 10:46] #7 closed, assigned to nobody

[2013-06-20 23:42] LucasLMartini opened #9 "send_notification (single notification!) is returning an array of responses"
This is really minor, but I cracked my head here for half an hour figuring this out:

In gcm/core.rb, you use send_notifications (plural) inside send_notification (singular).

Problem is, the plural form expects multiple responses, and, rightly so, it delivers an array of responses.

But in send_notification (singular), the user would be expecting a single response object, in this method there's n

[2013-12-14 02:36] DrBeak1 opened #19 "Where do I place the configuration file, and what do i call it?"
I saw this question:
https://github.com/NicosKaralis/pushmeup/issues/7

But even that didn't explain clearly where i place the configuration information. Where do I configure all the needed info?

[2013-12-14 22:35] DrBeak1 commented on #7
Hey dannythejedi, sorry to crash this thread -- can you tell me where you ended up placing the configuration variables? I asked in this thread: https://github.com/NicosKaralis/pushmeup/issues/19 but haven't gotten any attention. I'm somewhat new to rails so need a bit more hand-holding than usual.

If you have time, I would greatly appreciate a response. -- thank you!

[2013-12-24 04:02] nuttao opened #20 "APN and GCM with Proxy"
Your gem works great,
but my server need to use proxy to connect internet.
How can I do? Need configs in rails or in gem's parameters, please help.

[2014-01-23 14:42] SimonV opened #22 "Support for Retry-After header GCM"
GCM documentation says that 5xx range responses can contain Retry-After response header with time to wait before next request.

Is it possible to add some sort of indication that this header was returned and pass the Retry-After value to the caller of the gem?

The relevant documentation : http://developer.android.com/google/gcm/http.html

[2014-02-20 09:09] zenith-777 opened #24 "Development Mode"
Hi,

I'm using your gem now and experienced some trouble in sending push notification. The problem that it always return 'nil' every time I tried.
Apparently, I'm using development certificate and the APNS.host should be 'gateway.sandbox.push.apple.com'. (See this https://developer.apple.com/library/ios/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/Chapters/ProvisioningDevelopm

[2014-03-01 02:15] NicosKaralis commented on #24
Fixed in commit 6fbe89407baed2673f213c657b83b6dbac72df3d

[2014-03-01 02:15] #24 closed, assigned to nobody

[2014-03-01 02:21] NicosKaralis commented on #22
Possible to implement it is, but we would need extra libs and gems

Do we really want some "auto retry-er"? this would involve some delayed jobs that i don't see relevant and would possibly make dependencies that is pretty much project specific, like delayed_job or resque? if i have already resque why the gem is using delayed_job.

I could think in some extension gem, like 'pushmeup_resque' or som

[2014-03-01 02:23] NicosKaralis commented on #20
never crossed my mind with this problem, i need to search on the matter (sorry for the delay)

[2014-03-01 02:33] NicosKaralis commented on #19
sorry for the delay.

The config should be put anywhere that is called before you actually need to call methods from this gem, you could configure it right before you send a notification.

But since the config need to be set only one time it is, usually, set on a initializer that is called once when the app starts, they are located at:

[code]

[2014-03-01 02:33] #19 closed, assigned to nobody

[2014-03-01 08:56] SimonV commented on #22
This is no longer important for me personaly.

What I had in mind was not an implementation of an auto retry mechanism, that would indeen be over complicated. I just wanted the Auto-Retry value returned by GCM on the header to be passed to the caller of the gem. Right now it's impossible to access from outside the gem and it's being ignored.

[2014-03-06 18:01] daniramdani opened #26 "SSL_connect returned=1 errno=0 state=SSLv3 read server session ticket A: sslv3 alert certificate unknown"
Hi Nicos,
After setup APNS configuration then running the code,  I got error :

OpenSSL::SSL::SSLError (SSL_connect returned=1 errno=0 state=SSLv3 read server session ticket A: sslv3 alert certificate unknown.

Do you any idea with this ?

Ruby : 2.1.1p76
Rails : 4.0.0

Best Regards,

[2014-03-07 03:20] NicosKaralis commented on #26
no idea, does this error happen often? are your server behind a proxy?

From what i have searcher over the internet this error happens when your machine can't verify the root certificate for ssl, check this questions on SO: [this](http://stackoverflow.com/questions/19463827/ssl-connect-returned-1-errno-0-state-sslv3-read-server-certificate-b-certificat) and [this](http://stackoverflow.com/question

[2014-03-07 10:16] daniramdani commented on #26
Hi Nicos,

Thanks for your response, I'm still setup in my laptop/ local (develop), not behind proxy.

Here is what I'm trying to send :

APNS.pem = '/Users/cumungud/Documents/cert.pem'
APNS.pass = '12345'
device_token = '123abc456def'
APNS.send_notification(device_token, 'Hello iPhone!' )

then produce this :
OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=SSLv3 read server session t

[2014-03-20 22:30] nelsongc opened #27 "multiple push notification iOS"
/usr/local/lib/ruby/gems/2.1.0/gems/railties-4.0.0/lib/rails/commands/runner.rb:53:in `eval': Broken pipe (Errno::EPIPE)
    from /usr/local/lib/ruby/2.1.0/openssl/buffering.rb:326:in`do_write'
    from /usr/local/lib/ruby/2.1.0/openssl/buffering.rb:344:in `write'
    from /usr/local/lib/ruby/gems/2.1.0/gems/pushmeup-0.1.2/lib/pushmeup/apns/core.rb:26:in`block in send_notifications'
    from /usr/

[2014-03-20 22:32] #27 closed, assigned to nobody

[2014-04-04 00:45] suspiration opened #29 "Getting undefined method `close` in apns/core.rb:83"
Getting an error when trying to run "ruby pushAPNS.rb

[code]

me@MacBook-    Pro.local:~/Documents/mobile/plugins/com.phonegap.plugins.PushPlugin/Example/server$

[2014-04-04 13:47] NicosKaralis commented on #29
how often this error happens?

[2014-04-04 17:24] suspiration commented on #29
Every time I run.  I tried with ruby 1.9.3, 2.0.0 and 2.1.1, all have the
same issue.

On Fri, Apr 4, 2014 at 6:47 AM, Nicos Belo Karalis <notifications@github.com

[2014-04-07 08:33] aahlad-allari commented on #29
I am also getting the same issue!!

[2014-04-07 11:53] aahlad-allari commented on #29
It is the problem with .pem file.

[2014-04-07 11:56] NicosKaralis commented on #29
@aahladatparadigm could you elaborate? i was trying to find why the `@ssl` was nil, but i didnt find anything. why do you say it is the .pem file?

[2014-04-07 22:41] suspiration commented on #29
Thanks @aahladatparadigm.

It is indeed the .pem file.  Looks like when you export the .pem file from Keychain Access, you have to select both the push services certificate as well as the private key.

[2014-04-08 04:07] aahlad-allari commented on #29
Yes, We need both services certificate and private key.

[2014-04-11 12:25] NicosKaralis commented on #29
problem solved, closing issue

[2014-04-11 12:25] #29 closed, assigned to nobody

[2014-04-12 09:19] kunalkushwah commented on #26
When i try to send GCM notifications to the android devices, this same error occurs. What is the solution?

[2014-04-12 18:39] NicosKaralis commented on #26
I couldn't find why this error happens, i believe it is something on the ssl layer that causes this, can you check date and time and recheck the pem file generated?

[2014-04-17 18:11] anu-vaid opened #30 "Notification to multiple devices"
Thanks for the easy to use gem. Can I use pushmeup to send a notification to multiple devices simultaneously? Is there a limit on the number of devices I can notify with one call? Are there any throttling requirements that I should be aware of?

[2014-04-21 07:48] kunalkushwah commented on #26
I got this error removed. Now when I send the notification (to a single GCM android device), it returns the Error 500. Does it happen often? I know this is a Google internal server error. Am i making a mistake in the following notification creation?
destination= Array.new
destination << #GCM_ID_here
data = {:subject => "hehahahaha", :text => "lololololol"}
GCM.send_notification( destination, data

[2014-04-21 13:43] NicosKaralis commented on #26
@kunalkushwah The response returned from `GCM.send_notification` is a `JSON` object, can you post the response here? and if it raises an error, could you post the full backtrace of that error?

[2014-04-21 13:51] NicosKaralis commented on #30
Well, each platform has its own limits.

APNS have no limits, but they strongly recommend that you leave the connection open, they say if you open and close connection too frequently they can revoke your access. If you inspect the `APNS.send_notification` and `APNS.send_notifications` you'll see that we open one connection and try to send as many as possible.

GCM on the other hand you can send at

[2014-04-21 13:51] #30 closed, assigned to nobody

[2014-04-21 18:00] kunalkushwah commented on #26
@NicosKaralis Sir thanks for this beautiful gem. I have implemented all the required features. It was committing some minor errors which I sorted out. Cheers!

[2014-04-21 18:16] NicosKaralis commented on #26
glad to hear everything is fine.
^^

[2014-04-21 18:16] #26 closed, assigned to nobody

[2014-05-06 14:51] pixelmultiplo commented on #1
I have a similar question. I wrote my own small Sinatra server with PushMeUp, it works flawlessly with development certificates. When I try the ad-hoc certificates I don't get any error, but also no notifications on the device.

I created the new certificates, uploaded the .pem to the server, changed the server to gateway.push.apple.com. I get and store the tokens and i send the notifications with

[2014-05-07 16:39] NicosKaralis commented on #1
are you using production certificates to sign your app?

Because development .pem will send only to development signed apps
And production .pem will send only to production signed apps (from App Store or from adhoc distribution)

Other than that I don't see how can we debug pushes

[2014-05-08 09:14] pixelmultiplo commented on #1
Hi Nicos, I solved the problem using this

https://github.com/blommegard/APNS-Pusher

it's a small app to send custom requests to the apple push service. Using it I got the notifications right on the first shot, so I  knew there was something wrong with my code.

Maybe I misread your documentation but the problem was I used APNS.send_notifications passing an array of tokens. Now i changed my code

[2014-05-08 09:20] NicosKaralis commented on #1
@marekmaurizio can you post here the snippet where you send the notifications? Just obfuscate the tokens (if any is hard coded)

Without knowing exactly how you did I think it's because `send_notifications` receives an array of `APNS::Notification` objects.

When you post the snippet I'll be able to tell for sure what's happening

...
Sent via iPhone, please disregard any misspelling

[2014-05-08 09:24] pixelmultiplo commented on #1
Ouch, that's exacty what I did.
So APNS.send_notifications parameter must be an array of tokens, not an array of notifications. Sorry I can't post the full code, it's just a small server and I did not version the code.

[2014-05-08 09:26] NicosKaralis commented on #1
Not an array of tokens, an array of notifications

You said that you are using a loop, can you show me? Maybe I can tell how to improve it

[2014-05-08 09:26] NicosKaralis commented on #1
Just the loop it's fine

[2014-05-08 09:30] pixelmultiplo commented on #1
Sure, here it is. It's a small Sinatra server that gets the tokens from a Wordpress database. Title and message both come from url parameters.

[code]

[2014-05-08 09:35] NicosKaralis commented on #1
That's nice, we can use your loop to make just one connection to apple servers, like this:

[code]

This should work fine

[2014-05-08 09:36] pixelmultiplo commented on #1
I will try that and report back, thanks.

[2014-05-08 09:39] NicosKaralis commented on #1
No problem, I'll be waiting for your feedback

[2014-05-08 13:37] adamrobbie commented on #1
Thanks for the all work Nicos, on such an excellent gem.

[2014-06-05 18:03] jasonhr13 opened #33 "Error when running pushAPNS.rb"
I added my stuff to config file, and when I run it on command line i get this:

`<main>': undefined local variable or method`‘' for main:Object (NameError)

The line i think it is referencing is the APNS.pem which is set to '/Users/name/Desktop/ck.pem'

Whats wrong?

[2014-06-06 03:49] NicosKaralis commented on #33
Can you post here how are you using it on command line? and the full trace?

[2014-06-06 20:33] grossjo opened #34 "format option should accept string or symbol."
Crashes is a string is passed for format.

[2014-06-08 04:00] NicosKaralis commented on #34
sorry, could you elaborate your problem? i can't understand what is happening to you

[2014-06-10 14:34] deepakdash opened #35 "uninitialized constant MPNS"
While i'm trying to send push notification to windows phone 8 using

[code]

It throws error like uninitialized constant MPNS..Can anybody help me out of this?

[2014-06-23 04:20] ajbraus opened #36 "APNS.key and APNS.cert"
Hello,

I'm stuck with the "NoMethodError: undefined method `close' for nil:NilClass" error, which I know is a .pem problem. However I have redone my .pem's 3 times without success.

As a sanity check I tried to connect from the console and it works like this with the key and cert separate.

$ openssl s_client -connect gateway.sandbox.push.apple.com:2195 -cert CorideCert.pem -key CorideDevKey.pem

[2014-06-23 04:28] ajbraus opened #37 "APNS.key and APNS.cert"
Hello,

I'm stuck with the "NoMethodError: undefined method `close' for nil:NilClass" error, which I know is a .pem problem. However I have redone my .pem's 3 times without success.

Wouldn't it just be easier and more explicit to set cert and key attributes separately as two files?
The tutorial http://www.raywenderlich.com/32960/apple-push-notification-services-in-ios-6-tutorial-part-1 asks for k

[2014-06-23 13:46] #37 closed, assigned to nobody

[2014-07-15 13:19] maxdec commented on #36
I'm getting this error more than 50% of the times, but if I insist and relaunch the script several times it ends up working at some point (without changing anything).

[2014-07-15 15:09] ajbraus commented on #36
My solution was to:
create explicit app id
enable push notifications
create new provisioning file
install provisioning file in xcode
create certificate request from keychain
submit request and get public and private certificate
download those
export them
translate into .pem file

[2014-07-15 15:09] #36 closed, assigned to nobody

[2014-08-05 15:42] pepicrft commented on #3
@eddanger I did it modifying this library in this fork
https://github.com/teambox/pushmeup
It might be useful for you, If you have any doubt let me know

[2014-09-03 19:14] cdownard opened #43 "GCM mismatchSenderId"
I've been reading through doc after doc after doc (and by that I mean site after site) where people run into this error and it has to do with the project # for the app.

[code]

`Output`:

[code]

[code]

I inherited this project and apparently push notifications never worked. It looks like it's an error with the ID that the app registers with, but what's in the phonegap codebase when the app star

[2014-09-29 14:28] amit-m commented on #43
facing the same issue

[2014-09-30 16:05] cdownard commented on #43
This turned out to be an issue in being provided the wrong API key for the company's Google account. The company had another API key under a different user.

As soon as I switched the API key and updated the whitelisted IP addresses to be able to send push notifications, everything started working. I apologize for posting this issue here however maybe it will server others.
1. Ensure Google Cloud

[2014-09-30 16:05] #43 closed, assigned to nobody

[2014-09-30 20:33] btate opened #44 "iOS 8 not receiving push notifications"
I'm testing this out with a push to both an iOS 7 install and an iOS 8 install.  The iOS 7 notifications are there but not iOS 8.  Has anyone else run into this?

[2014-10-01 07:42] jnbt commented on #44
I have no problems sending push notifications to iOS 8 devices, but I only tested it with push tokens generated from iOS 8. Perhaps they changed?

[2014-10-01 11:43] btate commented on #44
Im doing the push to my iPhone 6. It's a new phone so it was registered under iOS 8. My buddy's iPhone 5s on iOS 7 gets the pushes but I don't.

Sent from my iPhone

[2014-10-01 12:52] jnbt commented on #44
Perhaps it's a problem in the app? The code for getting a push token has changed for iOS8 as `registerForRemoteNotificationTypes` is deprecated:
https://developer.apple.com/library/ios/documentation/uikit/reference/UIApplication_Class/index.html#//apple_ref/occ/instm/UIApplication/registerForRemoteNotificationTypes:

We had troubles with this change and didn't received any push tokens on iOS8 befo

[2014-10-01 13:49] btate commented on #44
I'm using the iOS 8 registration code.  I have a device token registered on my server.

##

Thanks,
Brandon

On Oct 1, 2014, at 8:52 AM, jnbt notifications@github.com wrote:

[2014-10-01 13:55] btate commented on #44
I just tested it with the pusher app and I get the push notifications.  The problem is specific to when I send it out with the pushmeup gem.

##

Thanks,
Brandon

On Oct 1, 2014, at 9:49 AM, Brandon Tate brandonntate@gmail.com wrote:

[2014-10-01 14:02] btate commented on #44
Got it figured out.  When I tested this on iOS 8 originally the phone was plugged in so it was in debug mode.  So I got a device token for the sandbox.  My server is using production apns because my test builds go out ad hoc.  So the production apns couldn't push to the sandbox device id.

Sorry about that.  At least it was something simple.

##

Thanks,
Brandon

On Oct 1, 2014, at 9:55 AM, Brando

[2014-10-01 15:58] alexkravets commented on #29
Is there a way to articulate this pem problem in exception? Otherwise it requires googling.

[2014-10-05 00:10] kert-io opened #45 "Persistence not working properly"
This is a chunk from my irb test.  Can you tell me what I might be doing wrong or is the close method in conflict with persistence?

irb(main):007:0>APNS.start_persistence
=> true
irb(main):008:0> APNS.send_notification(device_token, 'tell me if you get this')
NoMethodError: undefined method `close' for nil:NilClass
from /home/guruninja/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/pushmeup-0.3.0

[2014-10-23 15:02] Goltergaul commented on #45
i'm getting the same error but without using `APNS.start_persistence`

[2014-11-03 06:27] forever-sumit opened #47 "Not able to send notification"
Hi ,

I want to send notification form my client web app to mobile app. currently I'm working for IOS app.
My client provide me "cert.p12" file.
and I've generate a .pem file using your given command.

In my rails application, I've created a configuration file where I set the host, pem file path

[code]

and now from my model I try to send notification with dummy devise token. for that I've write

[2014-11-04 21:18] talal7860 commented on #47
Same problem here

[2014-11-06 10:06] d4rky-pl commented on #44
I believe this issue may now be closed..?

[2014-11-06 10:07] jnbt commented on #44
+1

[2014-11-06 22:34] RileyMills commented on #47
I've run into this before as well.  Ensure your PEM is correctly formatted and reachable by the Rails app.  Every time I've had this issue it was because the pem was corrupt, missing, or incomplete (in the case where the mobile team forgot to export the certificate with the private key).

[2014-11-06 22:35] talal7860 commented on #47
Yup it was the pem problem, it's fixed now, I can share the steps with the help of which I generated the push notification certificate if anyone requires that

[2014-11-07 08:34] jnbt commented on #47
Did they differ from https://github.com/NicosKaralis/pushmeup#apns-apple-ios

[2014-11-07 17:58] talal7860 commented on #47
A bit different, I just exported the private key instead of selecting both

[2014-11-13 13:19] yairvillar opened #48 "Sending multiple Push APNS"
Hi, sorry to bother, but i can't seem to be able to send multiple push notifications via APNS.

here is the code.

[code]

i have no error, the code it acts like if it sent the push without a problem. but i have both devices on my hand, and none of them gt the push notification, now if ther is only one push on the send array, then it works, but if there is more than one push on the array, then it

[2014-11-13 13:56] yairvillar commented on #48
Ok, so the problem is, if you have a DB with produccion and dev tokens, when it sends a push tih both at the same time, it will not work, so if you have to test, and you have both producction and dev at the same time, you will have lots of problems, not, i think that this gem, should return the apns return, since i know for a fack when you connect to the aons iver by curl it does return the sendin

[2014-11-13 13:56] #48 closed, assigned to nobody

[2014-11-20 08:28] Streek opened #51 "Ensure 2048 Cert."
How am I supposed to add the CAfile in order to actually send a push?  .pem is only half the handshake.

[2014-11-20 08:49] #51 closed, assigned to nobody

[2014-11-29 23:19] ericraio commented on #47
We should probably raise an exception if the pem file can not be found, shouldn't let the gem crap out.

[2014-12-01 18:23] #44 closed, assigned to nobody

[2014-12-07 12:44] 23tux commented on #3
+1 I would also need this. Any chance that this PR gets merged?

[2014-12-07 20:18] btate commented on #34
I'm having the same thing.  I'm saving my extra data as a json string in my database.  So I need to pass that string in the :other section of APNS.

[2014-12-16 11:58] oleksiipysanko commented on #47
+1 for this issue! I've tried exporting all possible combinations (certificate + private key, only certificate and only private key) and still not working.
iOS notifications are working properly from my local computer though, but not working on my application server - this is really strange.

[2014-12-16 13:21] oleksiipysanko commented on #47
Ok, I resolved issue.
If you trying to use APNs notifications from production server - check your firewall.
Port 2195 MUST BE OPENED IN FIREWALL.
You can test the connectivity to apple service by running:
  telnet gateway.sandbox.push.apple.com 2195
Successful message would be like:
  Trying 17.172.232.45...
  Connected to gateway.sandbox.push.apple.com.
  Escape character is '^]'.
If there is no

[2014-12-17 09:07] muffl0n commented on #20
For GCM it's sufficient to set a proxy like this:

[code]

Unfortunately that does not work for APN.

[2014-12-21 01:45] kert-io commented on #45
I solve this by not testing in irb.  Had it running in production now for
two months and it works great.  why persistence doesn't work in irb I never
tested.

On Mon, Dec 15, 2014 at 3:36 PM, Matias notifications@github.com wrote:

[2014-12-24 15:22] astjohn commented on #45
This does occur for me in production from background sidekiq workers. Subsequent retries are successful.

[2014-12-24 18:30] kert-io commented on #45
First and foremost, what if any error message do you get?

Where are your setting it to persist?  What does your over all worker
config look like?  When is this set?

And then, does a call to your push worker look like?

On Wed, Dec 24, 2014 at 10:22 AM, Adam St. John notifications@github.com
wrote:

[2014-12-24 23:24] astjohn commented on #45
It's the same error as what @prockport has mentioned. It would seem that the `@ssl` object is nil during the `stop_persistence` method.

backtrace:

[code]

Our push notification method is abstracted to a high level:

[code]

There is nothing abnormal about the procedure or the message we are sending. Telnetting into APNS manually works fine. Subsequent retries by the sidekiq worker also work so t

[2014-12-25 04:21] kert-io commented on #45
I have a separate worker class just for push.  I open a persistent
connection for the class and leave it open.  This should be done along with
your other configs like APNS.pem etc.  Then, any call to the
send_notification method of the push class runs in the open persistent
connection.

 Basically, take the start_persistent  out of the method call. I use
sidekiq for all push, and it works with the

[2015-01-01 16:30] astjohn commented on #45
@prockport, that makes sense and so I will most likely restructure our sidekiq worker. That said, I think the root of this problem might be the fact that `@sock`, `@ssl`, etc. are module variables. They are not currently threadsafe. Therefore, when we had multithreaded workers executing, `@ssl` was set to nil by the second thread before the first thread had a chance to finish. Yes, opening up a pe

[2015-01-06 16:50] lazaronixon commented on #35
#53

[2015-01-19 05:45] NicosKaralis commented on #45
I'm really with a lot of work at the moment but  I want to completely redesign this gem, one of the things that bugs me a lot is this problem you are having.

I don't understand why would you need to open a connection from one thread and keep it open for a very long time

this code:

[code]

is the same as this:

[code]

And if you still need to open a persistent connection because one method open

[2015-01-19 05:48] #47 closed, assigned to nobody

[2015-01-19 05:48] NicosKaralis commented on #47
Problem found, if anyone else is having this problem I'll reopen later

[2015-01-19 05:49] NicosKaralis commented on #35
MPNS is not yet merged, will be as soon as I can

[2015-01-19 05:54] NicosKaralis commented on #34
Can you elaborate more? Which method are you running that gives this error?

This should work, just remember `:other` should be a hash because the payload needs a key, if other is a string it cannot infer a key to use (should check that on future version)

[code]

[2015-01-19 14:40] astjohn commented on #45
@NicosKaralis, I took a stab at redesigning the gem based on feedback and pull requests from others.

Please take a look here:
https://github.com/Sitata/pushmeup/tree/ios8

It uses a new structure with a `Gateway` class. In this way, each gateway can have it's own scope on api keys and such in case the server needs to send notifications for multiple apps. This was suggested by @pepibumur, but I th

[2015-01-20 09:10] nirajmchauhan commented on #47
Getting same error. I have my pem file, generated from private + certificate.
My Code:

[code]

Error log:

[code]

[2015-01-20 18:18] forever-sumit commented on #47
@nirajmchauhan is your pem file generated on mac machine with the help of cert file and p12 file?

and make sure you use the development cert to generate the development pem file.

[2015-01-21 07:55] nirajmchauhan commented on #47
@forever-sumit Yes my pem file was generated in mac book pro, I selected private + certificate to export it as p12 and then converted it to pem.

[2015-01-21 10:21] talal7860 commented on #47
This gem is working perfectly, the problem is with your certificates, make
sure that you are generating certificates using push notification
certificates
On Jan 21, 2015 12:55 PM, "Niraj" notifications@github.com wrote:

[2015-01-21 11:28] nirajmchauhan commented on #47
So I finally ended up deleting all certificates, identifiers, prov profiles and recreated them. It worked.

So only problem I am facing now is that somehow my IPAD is getting notification but sound is not coming. I tried following codes:

[code]

[code]

[code]

But nothing is producing notification sound.

[2015-01-21 13:32] NicosKaralis commented on #47
Do you have a sound file called `default`? If you do check the volume of notifications and alerts

If you have any sound called `default` any of the calls will make sound, if you do not I can't guarantee that on the second and third call any sound will be made, but the first one will always make the "standard" alert sound

[2015-01-22 20:47] grant-olson opened #57 "pem file without certificates blows up hard"
So I've been stumbling around the web trying to make APN keys. This involved running a lot of `openssl` commands by just cut-and-pasting things I saw on the web, without really understanding what I was doing. The fault is entirely mine, but I generated a .pem file that only had my encrypted RSA keys, and not my X509 certificates.

The retry logic in `APNS.with_connection` really flipped out here,

[2015-01-23 16:06] enriclluelles opened #58 "Mantainer wanted?"
Hey there, looking at the state of the issues and pull requests it looks like you could use a mantainer for this gem.

I like its style because it does what's needed and it doesn't have any bloat. I'm using it at work currently so if it's fine with you I'd like to step up.

[2015-01-23 22:21] maxintech commented on #45
Excellent job @astjohn. It is exactly what I need to grab this gem as solution to our platform. Do you have intention to work in Amazon refactory?

[2015-01-24 01:40] astjohn commented on #45
@maxintech, Not completely sure what you mean by Amazon refactory, but I did refactor all of the current providers.

[2015-01-24 21:58] maxintech commented on #45
I'm sorry, I misread the last sentence "Amazon has not been tested.". Never mind... I will take a chance next week and I let you know if is working in Amazon too.

[2015-01-25 00:37] astjohn commented on #45
@maxintech - sounds great. Let me know how it goes.

[2015-01-31 04:32] ericraio commented on #29
+1 for better error output

[2015-02-10 12:28] dilizarov commented on #29
+1 for better error output

[2015-02-12 18:09] maxintech commented on #45
Hey @astjohn, the lib works fine in all three providers. One downside for our application is in APNS you can only pass a full path for the certificate in PEM format. The same behaviour is in the original gem. For our solution is kind of bummer because we already have the PEMs in memory and we cannot access to a physical file in the machine the application runs.

[2015-02-12 18:33] astjohn commented on #45
@maxintech - how do you place the PEM in memory?

[2015-02-12 18:40] maxintech commented on #45
@astjohn: To be clear. Our application is a Gaming Platform. We serve more than one application.
All the configuration of each application, including Push Notification and IAP keys and certificates are in the database. The first time the platform needs some attribute of some application reads the database and cache the configuration in a memcache.

[2015-02-12 18:55] astjohn commented on #45
@maxintech, interesting. Well, if you want to take a kick at it, I could see a simple solution as making a `set_pem` method on the gateway that sets `@pem_file` directly so that [this method](https://github.com/Sitata/pushmeup/blob/ios8/lib/pushmeup/apns/gateway.rb#L41) returns your value instead of `File.read(pem)`. Feel free to open an isssue on the Sitata branch/tracker and we can take a look a

[2015-02-12 21:42] maxintech commented on #45
Thank you @astjohn. I will add the issue on the Sitata branch/tracker.

[2015-02-16 15:09] Tali-Oz opened #59 "GCM should return the headers on build_response method"
GCM requires to use the 'Retry-After' header in case of error,
and the gem return the headers only when the response code is 200

In addition: the gem support only 500 and 503 response code
and in case the response code is 5xx (like 502..) - the gem return nil instead of the response.

see GCM documentation:
http://developer.android.com/google/gcm/server-ref.html
"5xx    Errors in the 500-599 rang

[2015-02-20 12:32] sshinde-systango opened #60 "Feedback service not working"
Hi,

I'm using this gem for sending push notifications on IOS and it works fine for me. Now I need to use apple feedback service to know about the device tokens whose user has deleted the app but when I tried calling feedback function(APNS.feedback), it gives me blank array. As I've seen in the code I don't think I should explicitly need to do any configuration regarding host or post as it is alre

[2015-03-09 15:27] ethagnawl opened #62 "GCM collapse_key (send-to-sync) not worked as expected"
My understanding is that specifying a collapse_key (e.g. a chat room ID) will prevent duplicate notifications concerning that chat room from stacking up. If this is the intended behavior, this feature is not working.

Here's my implementation:

`GCM.send_notification token, {alert: 'collapse_key test'}, {collapse_key: 'something_unique', time_to_live: 3600}`

And the result:

![screenshot_2015-03-

[2015-03-10 18:09] #62 closed, assigned to nobody

[2015-03-11 16:52] vrulevskii opened #63 ""with_connection" method raises an exception: NoMethodError: undefined method `close' for nil:NilClass"
There is a code in file https://github.com/NicosKaralis/pushmeup/tree/master/lib/pushmeup/apns/core.rb
which returns the exception. It is

[code]

Probably, you forget to check the condition `unless @ssl.nil?`
Could you, please, fix that?

[2015-03-12 10:21] sevaorlov opened #64 "open connection errors"
These open connection errors can't be catched,
https://github.com/NicosKaralis/pushmeup/blob/master/lib/pushmeup/apns/core.rb#L100
https://github.com/NicosKaralis/pushmeup/blob/master/lib/pushmeup/apns/core.rb#L101

because they are rescued and new error occure on closing `@ssl`, because `@ssl` is nil
https://github.com/NicosKaralis/pushmeup/blob/master/lib/pushmeup/apns/core.rb#L83

[2015-03-16 07:04] fawad commented on #3
+1 Would like you guys to merge this.

[2015-04-05 20:19] TWRaz opened #65 "Message never makes it do device"
I'm attempting to send a message to an Android device. This is the relevant content from the method I am calling

[code]

The response I get from GCM.send_notification returns with a 200 status code and { success: 1 } in the body. But the message never makes it to the device. I'm clearly missing some piece. Can anybody shed some light?

edit: I have been monitoring the API logs on the Google Devel

[2015-05-14 13:19] ahmadzein opened #69 "IOS notification not sent,"
i've made everything correctly got the pem, and changed the pushAPNS.rb file, when i run $ruby pushAPNS.rb am not getting any error but nothing is being sent, everything is working on android but not IOS

the certificates i have are for production HELPPPP

[2015-05-23 01:25] dannolan commented on #58
I'm also more than happy to kick in. It's a great Gem and it does a lot but it needs a chunk of new PRs taken in to fix existing bugs.

[2015-06-01 07:38] shanbhardwaj commented on #47
I'm having the same problem with the gem. The APNS.send_notification call does not fail consistently but every now and then I get exactly the same error in production.

undefined method `close' for nil:NilClass
/data/apps/VC/shared/bundle/ruby/2.1.0/bundler/gems/pushmeup-38260c8df74b/lib/pushmeup/apns/core.rb:83:in`rescue in with_connection'
/data/apps/VC/shared/bundle/ruby/2.1.0/bundler/gems/push

[2015-07-23 17:11] ericraio opened #70 "Cucumber testing"
Is there a way to not send out a network call and still see the deliveries of the notification? This will be very helpful for cucumber testing.

[2015-08-04 16:02] andyryan commented on #69
if the app is built and installed through xcode it will only react to push notifications sent with the development cert and to the sandbox gateway.

Only when the app is installed through the app store (or testflight for testing) will apple send it notifications signed with a production cert

[2015-08-04 16:04] andyryan opened #71 "Do notifications get sent in testing environment?"
I have some automated tests for testing asynchronous jobs with sidekiq that send push notifications.

They pass, but the device which should be getting the notifications is not receiving it (yes I am sure the test env is set up correctly and the token is correct)

Is it just that the push notifications do not get sent out in test env

[2015-09-14 22:26] warantesbr commented on #3
Hi @NicosKaralis! There's any reason this PR was not merged?

[2015-09-26 07:25] shyam3 commented on #43
i am getting this message from server when i register my android device
{"multicast_id":7751536172966571167,"success":0,"failure":1,"canonical_ids":0,"results":[{"error":"MismatchSenderId"}]}

show any one help me for remove this error /bug  successfully and register my android device for gcm registration.

[2015-10-04 13:56] iujlaki commented on #29
+1 for better error output

[2015-10-05 08:04] starchow commented on #48
Hi @yairvillar ,
Did you success to send 1000 push to APNS?
I saw this error message "Errno::ECONNRESET: Connection reset by peer" when I try to send only about 200 devices. :disappointed:

I ask you this question because I want to find the correct number to divide the notifications before send them.
Thanks!

[2015-12-01 08:52] shaharmintz opened #72 "Broken pipe error"
When using `APNS.send_notifications` I encounter "Broken pipe" errors which after googling around I understand have to do with invalid device registration ids (user blocked notifications, uninstalled the app, etc.). Is there a way to have the `APNS.send_notifications` method resume pushing to the rest of the devices while just accumulating errors instead of raising an exception and returning?

Gre

[2015-12-03 17:27] mrinterweb opened #73 "APNS does not return a response"
I am trying to write code that tracks the delivery of push notifications. The response I always get from calling `APNS.send_notification` is always `nil`. `GCM.send_notification` gives me a response hash. With just a nil response, I have no way of knowing if the notification was delivered for APNS. In development the push notifications are delivered, still with a `nil` response. In production (wit

[2015-12-05 10:42] culov opened #74 "APNS.send_notification failing silently in Delayed_job"
All push notifications work fine from my webserver and from irb, however, when I try to send one from a Delayed Job task, the notifications never get sent out.

[2015-12-11 19:59] mklb commented on #73
I have the same problem. If I find a solution I´ll post it

[2015-12-11 21:34] mklb commented on #73
so in general - APNS does not response anything. It´s a black box. So nil will always be the response.

My problem was that I didn´t have a matching provisioning profile and certificates. So my advice would be to check xcode and the apple developer portal out.

(a good tutorial for the certificate stuff: http://quickblox.com/developers/How_to_create_APNS_certificates - Always helps me to remember

[2015-12-11 22:07] mrinterweb commented on #73
Thanks @mklb. After doing more research into how the APNS protocol works, I began to realize how getting a response from the binary protocol would not be possible (or at least I could not find any APNS docs on getting a response). It is just fire-and-forget. I dislike services like this, and I hope that one day Apple improves the APNS API. Apple should take inspiration from Google's GCM.

I eventu

[2015-12-11 22:07] #73 closed, assigned to nobody

[2015-12-17 16:28] YaroslavMykhaylyk commented on #29
+1 for better error output

[2015-12-17 21:15] batalla3692 commented on #60
@sshinde-systango Were you able to solve this issue?

[2015-12-18 13:27] mahra2612 commented on #43
same issue facing....

[2015-12-18 16:13] danielbatallaq commented on #60
I found [this stackoverflow question](http://stackoverflow.com/a/5054890/4084391) that helped me.

[2015-12-28 00:43] perky123 commented on #64
Did you resolve it ?
I have the same problem with you.

[2015-12-28 10:20] sevaorlov commented on #64
@perky123, no, I didn't fix that

[2016-01-28 07:07] rajputlalita opened #75 "Not getting server response from server for ios"
Hi
I Have used your gems,its working fine with android when i send notification i get response (success and error response  if something wrong ) but in IOS push notification i am not getting any response from server because of that i dont know notification send successfully  or not.Can u please tell how to get response from server
Thanks

[2016-02-18 17:33] descentintomael commented on #74
Are you seeing this fail quietly after hanging for four hours?

[2016-02-24 12:59] prvinuch opened #76 "How to Send APNS Push notification to Multiple Application using same server."
Hi,

Can you please help us to know, how to send push notification to multiple iOS app from same server.
we have two iOS app with package name as
com.domainname.application1 and
com.domainname.application2.

If I want to originate push notification from same server as database is same for both the application then How I can send the notifications.

Any help would highly be appreciated.

Regards,
P

[2016-03-07 13:08] himangshu-149 commented on #43
have you sorted out the problem you were facing? @ mahra2612

[2016-03-16 11:50] hexinpeter opened #77 "Deadlock in APNS send_notification"
I am using Sidekiq to process my APNS push background jobs. I am using APNS as the code below

[code]

However, I often get my push workers stuck in Sidekiq. With a sidekiq dump, I get the following info:

[code]

Is it because `APNS#send_notification` is not thread_safe? What is the thread_safe alternative here?

[2016-04-05 19:16] julio-castillo commented on #29
+1 for better error output

[2016-05-06 20:24] rajohns08 commented on #62
That is not how `collapse_key` works. It doesn't prevent notifications from stacking on the client device, it prevents the notifications from stacking on Google's GCM servers. So if you send notificationA and it goes all the way to the client device before notificationB is sent, when notificationB goes through, it will (and should) stack in the device's notification tray. If you send notificationA

[2016-09-06 16:43] MaicolBen commented on #75
@lalitaintelgain APN doesn't respond as it is said in https://github.com/NicosKaralis/pushmeup/issues/73.

@NicosKaralis You can close this issue

[2016-11-01 18:31] MaicolBen commented on #73
Is this still true? I got a response from Apple saying: "move to the http/2 protocol that gives an ack for every push."

[2016-11-01 19:00] MaicolBen commented on #27
@nelsongc How did you solve this?

[2016-12-06 12:07] cwilliamsnh commented on #69
I am still seeing this issue. Is there any way to get feedback as to why the message is not being pushed out to apps?

[2017-05-12 12:04] feliperbferraz commented on #27
Hi @nelsongc , @MaicolBen did you find any solution?

[2017-05-12 15:07] MaicolBen commented on #27
@feliperbferraz Use `APNS.start_persistence` and `APNS.stop_persistence`, I finally dropped this because APN has some issues with large amount of push notifications at the same time, I moved to Pushwoosh.

[2017-05-15 14:21] feliperbferraz commented on #27
@MaicolBen Thanks for your response! I've tried with APNS.start_persistence and APNS.stop_persistence, but I couldn't get it working. Yes, I have sometimes to send for a huge percentage of my user base. I don't know about Pushwoosh, but I'll take a look if it fits better!

[2019-04-23 22:36] ricvillagrana opened #88 "Switch to FCM (Firebase Cloud Messaging)"
Google is deprecating GCM so, it would be a good idea switching to FCM.

[Google Cloud Messaging page](https://developers.google.com/cloud-messaging/gcm):

[2019-05-15 14:28] prvinuch commented on #76
We identified the way to use grocer gem.

[2019-05-15 14:28] #76 closed, assigned to nobody

[2020-01-02 05:05] ppthanhtn opened #89 "P8 key file support"
Do you have a plan to support p8 key file in APNS?

[2020-01-27 03:23] dpatel commented on #88
Any update on this?